body{
    font-size: 16px;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5{
    font-family: Poppins;
}
p{
    font-family: Roboto;
}
.navbar{
    background-color: white;
    font-family:Poppins;
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
    color:#000 !important;
}
#firstCase h1{
    font-size: 50px;
}
#firstCase img{
    width: 50;
    margin-left: 60px;
}
.firstCase-btn{
    opacity: 1;
}
#testimonials{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}
#testimonials p{
    font-size: 24px;
    font-family: Josefin Sans;
    color: #000;
}
#testimonials p.chatAi{
    font-size: 18px;
    color: #666;
}
#contact{
    /* background: url('/imgs/img4.jpg'); */
    background-color: #f1f1f1;
}

svg {
    width: 100%;
    height: 100%;
    visibility: hidden;    
}
   
.ell, #ai {
       fill: none;
}
.info-right img{
    transition: transform 0.5s ease-in-out;
}


.info-right img:hover{
    -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  transition: all .5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  box-shadow: 10px 15px yellowgreen;
}


/*carousel-------------------*/

.card{
    padding: 2em;
}

.card img {
    max-width: 100%;
    max-height: 100%;
  }

/*Flip-cards-------------------*/
.flip-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flip-container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

@media(max-width:430px){
    .flip-container{
        justify-content:flex-start;
        width: 85%;
    }
    .cart{
        align-items: flex-start;
        width:auto;
    }
    .cart> .row>.icon{       
        border-radius: 50% !important;
        width: 25px !important;
        height: 50% !important;
    }
    .cart>.row>.description{
        height: 95px !important;
    }
}
.cart{
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px 5px rgba(0,0,0,0.8);
}
.cart>.row{
    color: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;
}
.cart> .row>.icon{
    background: #f1f1f1;
    color: #000;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.cart>.row>.description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520xp;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
.description>p{
    color: #b0b0ba;
    padding-top: 5px;    
}
.description>h4{
    text-transform: uppercase;    
}
.flip-container>input{
    display: none;
}
input:checked + label{
    width: 600px;
}
input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.cart[for="c1"]{
    background-image: url('./imgs/img5.jpg');
}
.cart[for="c2"]{
    background-image: url('./imgs/874.jpg');
}
.cart[for="c3"]{
    background-image: url('./imgs/img1.jpg');
}
.cart[for="c4"]{
    background-image: url('./imgs/img2.jpg');
}


/*Contact animation*/
.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter:blur(0px);
    transform: translateX(0);
}
@media(prefers-reduce-mode){
    .hidden{
        transition: none;
    }
}
    
.logos{
    display: flex;
}
.logo:nth-child(1){
    transition-delay: 200ms;
}
.logo:nth-child(2){
    transition-delay: 400ms;
}
.logo:nth-child(3){
    transition-delay: 600ms;
}
.logo:nth-child(4){
    transition-delay: 800ms;
}
.logo:nth-child(5){
    transition-delay: 1000ms;
}
.logo:nth-child(6){
    transition-delay: 1200ms;
}

/*MEDIA SCREEN*/
@media(max-width:430px){
    .info-right img{
       display: none !important;
    }
    .flip-wrapper{
        display: flex !important;
    }
}